<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>
			Inside Casino Administrador
		</title>

		<style>
			/* Fuente personalizada desde Google Fonts */ @import
			url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap'); body {
			font-family: 'SUSE', sans-serif; background-color: #f9f9f9; margin: 0; padding: 0; display:
			flex; flex-direction: column; min-height: 100vh; } /* Espaciado extra para el contenido */
			.content-wrapper { flex: 1; display: flex; justify-content: center; align-items: center;
			padding: 20px; }
		</style>
	</head>

	<body>
		<!-- Contenedor nuevo producto -->

		{{#if (eq user.role 'admin')}}
			<div class='content-wrapper'>
				<div class='container'>
					<h1 class='text-center'>
						Nuevo Producto
					</h1>
					<form>
						<div class='mb-3'>
							<label for='productName' class='form-label'>
								Nombre del Producto
							</label>
							<input type='text' class='form-control' id='productName' required />
						</div>
						<div class='mb-3'>
							<label for='productPrice' class='form-label'>
								Precio del Producto
							</label>
							<input type='number' class='form-control' id='productPrice' required />
						</div>
						<div class='mb-3'>
							<label for='productDescription' class='form-label'>
								Descripción del Producto
							</label>
							<textarea class='form-control' id='productDescription' rows='3' required></textarea>
						</div>
						<div class='mb-3'>
							<label for='productImage' class='form-label'>
								URL de la Imagen del Producto
							</label>
							<input type='url' class='form-control' id='productImage' required />
						</div>
						<div class='mb-3'>
							<label for='productImage' class='form-label'>
								Stock
							</label>
							<input type='number' class='form-control' id='stock' required />
						</div>
						<button type='submit' class='btn btn-primary'>
							Guardar Producto
						</button>
					</form>
				</div>
			</div>
		{{else}}
			<!-- Mostrar mensaje error -->
			<div class='alert alert-danger text-center' role='alert'>
				No tienes permisos para acceder a esta página.
			</div>
		{{/if}}
	</body>
</html>